# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Temporary files, for example, from tests.
/tmp/

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
bentley-*.tar

# .env (dev env variables)
.env

# Local SQLite artifacts
priv/repo/*.db
priv/repo/*.db-shm
priv/repo/*.db-wal

# suspicious terms list
suspicious_terms.txt

# notifiers config
notifiers.yaml

# Local migrations (requested to keep untracked)
priv/repo/migrations/

# Local VSCode settings
.vscode/