[Unit]
Description=Bentley Elixir Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=bentley
Group=bentley
WorkingDirectory=/opt/bentley/_build/prod/rel/bentley
EnvironmentFile=/etc/bentley/bentley.env
ExecStart=/opt/bentley/_build/prod/rel/bentley/bin/bentley start
KillSignal=SIGTERM
Restart=always
RestartSec=5
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
