SUSPICIOUS_TERMS_FILE_PATH=/etc/bentley/suspicious_terms.txt
NOTIFIERS_FILE_PATH=/etc/bentley/notifiers.yaml
SNIPERS_FILE_PATH=/etc/bentley/snipers.yaml
DATABASE_PATH=/var/lib/bentley/bentley.db
TELEGRAM_BOT_TOKEN=123456:replace_me
JUPITER_API_KEY=replace_me
SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_WALLET_main=replace_me